.div_features_super{
    font-family: 'Playfair Display SC', serif;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.title_aviso_container{
    width: 100%;
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.img_aviso_container{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.img_aviso_tienda{
    width:100%;
    border-radius: 5px;
    max-width: 750px;
}

.div_features{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Playfair Display SC', serif;
    font-weight: 800;
    padding: 30px;
}