.banner{
    margin-top: 105px;
    text-align: center;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/tiendamoraazul-fba5e.appspot.com/o/banner%20hero%201.png?alt=media&token=daed073a-32b7-4115-917f-168a91b06e3a");
    background-position: center;
    background-size: cover;
    padding: 22%;
    /* position: relative; */
    /* z-index: 1; */
    color:white;
    /* background-attachment:fixed; */
    height: 80vh;
}

/* .banner::after{
    content:'';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    top:0;
    left:0;
    opacity: 0.01;
    z-index: -1;
} */