.div_productos{
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    /* align-items: center; */
    /* overflow: hidden; */
    /* margin: auto; */
    /* margin: 20px; */
    text-align: center;    
    /* flex-direction: column; */
    min-width: 250px;
    /* height: 350px; */
    /* background-color: rgb(166, 161, 170); */
}

.producto_container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
}
.div_productos > img{
    height: 300px;   
    object-fit: contain;

}