.fondo {
    transition: .3s ease-in-out;
    margin-bottom: 20px;
    color: rgb(212, 212, 212);
    border-radius: 5px;
    background-color: rgb(32, 42, 44);

}

.fondo:hover {
    border-radius: 15px;
    background-color: #90d0e0;
    color: rgb(43, 43, 43);
    transform: scale(1.05);
    cursor: pointer;
}

.fondo:active {
    cursor: wait;
}

@media (max-width:992px) {
    .fondo {
        width: 70%;
    }
}

.titulo_servicios {
    padding: 20px;
    font-family: 'Playfair Display SC', serif;
    font-size: 25px;
    font-weight: 800;
}

.texto_servicios {
    
    padding: 20px;
    text-align: justify;
}

.icon {
    font-size: 50px !important;
}